# Dependencies
node_modules/

# Production Build output
dist/

# Environment Variables & Secret Credentials
.env
.env*.local

# Debug and System Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Project specific mock email logs
email_logs.txt

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
